/locallibs
/locallibs/lib
/obj
deps/
ipch
.vs
*.db
*.user
*.filters
MatlabInstallation
PythonWheels
/src/core/base/matlabmex
/src/core/base/matlabplot
/src/core/base/nxCOMAutomation
/src/core/base/visualstudiomacros
/src/core/sasktran/python_sasktrancore/.idea
/src/core/skopticalproperties/hitran2016/__pycache__
/src/core/skopticalproperties/hitran2016/.idea
.idea
wheelhouse
cache
builds
/buildscripts/tmp
/SasktranCoreComponents_Installers/config.status
/SasktranCoreComponents_Installers/makefile.sasktrancorecomponents
/convenient_build_commands.txt
data
/Repos_SasktranV3/*.a
build/

_build
__pycache__
.run
cmake-build*
.vscode
*.dylib
*.so 
*.dll
.DS_store
out/
build2/
make_vs_sln.bat
*_version.py*