/locallibs
/locallibs/lib
/obj
deps/
ipch
.vs
*.db
*.user
*.filters
MatlabInstallation
PythonWheels
/Repos_BaseCode/matlabmex
/Repos_BaseCode/matlabplot
/Repos_BaseCode/nxCOMAutomation
/Repos_BaseCode/visualstudiomacros
/Repos_SasktranV3/python_sasktrancore/.idea
/Repos_skopticalproperties/hitran2016/__pycache__
/Repos_skopticalproperties/hitran2016/.idea
.idea
wheelhouse
cache
builds
/buildscripts/tmp
/SasktranCoreComponents_Installers/config.status
/SasktranCoreComponents_Installers/makefile.sasktrancorecomponents
/convenient_build_commands.txt
data
/Repos_SasktranV3/*.a
build/

_build
__pycache__
.run
cmake-build*
.vscode
*.dylib
*.so 
*.dll
.DS_store
out/
build2/
make_vs_sln.bat
